<a href="https://colab.research.google.com/github/mtpradoc/BigQueryAPI/blob/main/03_Group_By%2C_Having_Dataset_Hacker_News.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Programmatically connect to BigQuery

In order to use a public dataset Hacker News in BigQuery we need to programmatically authenticate to the google cloud platform

##1. Authenticate to GCP

In [1]:
from google.colab import auth
auth.authenticate_user()

Let's specify which project_id we are going to use. It can be any

In [2]:
project_id = 'glossy-mason-326213'

##2. Connect to the BigQuery API

In [3]:
from google.cloud import bigquery

In [4]:
client = bigquery.Client(project=project_id)

##3. Access the Dataset (public or private)

Let's put a reference for the dataset and project where the dataset we are going to work with

In [5]:
serverdb = "bigquery-public-data"
db = "hacker_news"

In [6]:
dataset_ref = client.dataset(db, project=serverdb)

dataset = client.get_dataset(dataset_ref)

##4. List your tables

In [7]:
table_ref = dataset_ref.table("comments")

table = client.get_table(table_ref)

##5. Check the table schema

In [8]:
table.schema

[SchemaField('id', 'INTEGER', 'NULLABLE', 'Unique comment ID', ()),
 SchemaField('by', 'STRING', 'NULLABLE', 'Username of commenter', ()),
 SchemaField('author', 'STRING', 'NULLABLE', 'Username of author', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('time_ts', 'TIMESTAMP', 'NULLABLE', 'Human readable time in UTC (format: YYYY-MM-DD hh:mm:ss)', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Comment text', ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ())]

##5. Show your data in a dataframe

In [9]:
df = client.list_rows(table, max_results=500).to_dataframe()
df

           id   by author        time  ...    parent deleted  dead ranking
0     2701393   5l     5l  1309184881  ...   2701243    None  None       0
1     5811403   99     99  1370234048  ...   5804452    None  None       0
2       21623   AF     AF  1178992400  ...     21611    None  None       0
3    10159727   EA     EA  1441206574  ...  10159396    None  None       0
4     2988424   Iv     Iv  1315853580  ...   2988179    None  None       0
..        ...  ...    ...         ...  ...       ...     ...   ...     ...
495   9867351  SG-    SG-  1436567860  ...   9866345    None  None       0
496   9706533  SG-    SG-  1434123476  ...   9705950    None  None       0
497   6355680  SIK    SIK  1378756054  ...   6355661    None  None       0
498   9133961  SXX    SXX  1425326413  ...   9133598    None  None       0
499   1784230  Som    Som  1286905862  ...   1779445    None  None       0

[500 rows x 10 columns]

##6. Explore your data

Hacker News would like to send awards to everyone who has written more than 10,000 posts. Write a query that returns all authors with more than 10,000 posts as well as their post counts. Call the column with post counts NumPosts.

In [10]:
prolific_commenters_query = """
                            SELECT author, COUNT(1) as NumPosts
                            FROM `bigquery-public-data.hacker_news.comments`
                            GROUP BY author
                            HAVING COUNT(1) >10000
                            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(prolific_commenters_query, job_config=safe_config)

prolific_commenters = query_job.to_dataframe()

print(prolific_commenters.head())

    author  NumPosts
0    DanBC     12902
1    sp332     10882
2   davidw     10764
3  rayiner     11080
4  tptacek     33839

How many comments have been deleted? (If a comment was deleted, the deleted column in the comments table will have the value True.)

In [11]:
prolific_commenters_query = """
                            SELECT COUNT(*)
                            FROM `bigquery-public-data.hacker_news.comments`
                            WHERE deleted = True
                            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(prolific_commenters_query, job_config=safe_config)

prolific_commenters = query_job.to_dataframe()

print(prolific_commenters.head())

      f0_
0  227736